.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	margin-top: 50px;
	width: 250px;
	object-fit: contain;
}

.input-text {
	margin-top: 50px;
	width: 60vw;
	max-width: 600px;
	background-color: transparent;
	border: 5px solid #3d8523;
	border-radius: 20px;
	padding: 15px 30px;
	font-size: 18px;
	outline: none;
	color: #3d8523;
	font-weight: 600;
}

.control-buttons {
	width: 60vw;
	max-width: 600px;
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.control-buttons button {
	width: 240px;
	background-color: transparent;
	border: 5px solid #3d8523;
	border-radius: 20px;
	color: #3d8523;
	font-size: 20px;
	outline: none;
	padding: 15px 30px;
	font-weight: 700;
	cursor: pointer;
}

.control-buttons button:hover {
	border: 5px solid #4c9e2e;
	color: #4c9e2e;
}

.control-buttons button:active {
	border: 5px solid #3a8a1d;
	color: #3a8a1d;
}

.result-title {
	color: #3d8523;
	margin-top: 50px;
}

.footer {
	color: #3d8523;
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 20px;
	font-weight: 500;
}

.footer a {
	color: #3d8523;
}
